.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-wrapper a {
  color: white; /* Set text color */
  text-decoration: none; /* Remove underline */
  margin-left: 30px; /* Add spacing between links */
  font-size: 16px; /* Adjust font size */
  transition: color 0.3s ease; /* Add a smooth hover effect */
}

.navbar-wrapper a:hover {
  color: #ffcc00; /* Change text color on hover */
  text-decoration: none; /* Add underline on hover */
}

.navbar-wrapper a.active {
  font-weight: bold; /* Highlight active link */
  border-bottom: 2px solid #ffcc00; /* Add underline for active link */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
